
#root {
 background-color: black
}

.thebody {
    
    background-image: url(https://gregorlove.com/site/assets/files/5215/beach-house-2018-08-05b.1000x0-is.jpg);
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}
.main-body {
    padding: auto;    
    width: 100%;    
}

.profile-card-body {
    padding: auto;
    margin: auto;
   justify-content: center;
    width: 100%; 
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    word-wrap: break-word;  
    border-radius: .75rem;
}

.editimage {
  
    height: 250px;
    
}

    
li.list-group-item {
    background-color: #000000;
}


#bio {
    height: 150px;
}



.about {
    background-color: #000000;

    height: 150px;
}

.user-avatar {
    align-items: center;
    padding: .75em .75em .75em .75em;   
    margin: .75em .75em .75em .75em ;
}

